<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 등록</title>
</head>
<body>

<h1>카테고리 등록</h1>

<form th:action="@{/categories/create}"
      th:object="${categoryForm}"
      method="post">

    <div>
        <label for="name">카테고리 이름</label><br>
        <!-- th:field가 name, id, value를 자동 설정 -->
        <input type="text" th:field="*{name}" placeholder="카테고리 이름 입력"/>
        <!-- th:field가 name, id, value를 자동 설정 -->
        <span th:errors="*{name}" style="color: red;"></span>
    </div>

    <br>
    <button type="submit">등록</button>
    <a href="/categories">취소</a>
</form>

<hr>
</body>
<footer>
    <p th:text="${'실습 수행 일시: ' +
    #temporals.format(#temporals.createNow(), 'yyyy년 MM월 dd일 HH:mm:ss')}">
    </p>
    <p>학번: 2291093 | 성명: 이재령</p>
</footer>
</html>